.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.logInContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px #333 solid;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 0.164);
}

.logInContainer > h2 {
  color: rgb(164, 120, 205);
}

input {
  color: #fff;
}

.conteiner-account {
  margin-top: 15px;
  text-align: center;
}

.conteiner-account > span {
  color: rgb(34, 34, 34);
}

.conteiner-account > a {
  margin-top: 7px;
  color: rgb(164, 120, 205);
  text-decoration: none;
}
