<form
  class="container"
  [formGroup]="myform"
  autocomplete="off"
  (ngSubmit)="login()"
>
  <div class="logInContainer">
    <h2>Login</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        required="true"
      />
      <mat-error *ngIf="getErrorMessage('email')">Use a valid email</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="getErrorMessage('password')"
        >Password or User doesn't match</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="myform.invalid">
      Log In
    </button>

    <div class="conteiner-account">
      <span> Don't have an account yet? </span>
      <br />
      <a routerLink="/register">Register</a>
    </div>
  </div>
</form>
